In [63]:
#@title Download the data from website
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/movie_titles.csv
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_1.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_2.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_3.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2023/homework-1/netflix-data/combined_data_4.txt
!wget -nc --no-check-certificate https://course.ccs.neu.edu/cs6220/fall2024/homework-1/basket_data.csv

from IPython.display import clear_output
clear_output()

print("Data in combined_data_1.txt looks like this: \n")
!head -5 combined_data_1.txt

print("\n\nData in movie_titles.csv looks like this: \n")
!head -5 movie_titles.csv

Data in combined_data_1.txt looks like this:

1:
1488844,3,2005-09-06
822109,5,2005-05-13
885013,4,2005-10-19
30878,4,2005-12-26


Data in movie_titles.csv looks like this:

1,2003,Dinosaur Planet
2,2004,Isle of Man TT 2004 Review
3,1997,Character
4,1994,Paula Abdul's Get Up & Dance
5,2004,The Rise and Fall of ECW

In [64]:
f = open("movie_titles.csv", encoding ="cp1252")
data_lines = open("combined_data_1.txt", "r").readlines()

## **Problem 1**

In [65]:
import csv

In [66]:
def cardinality_items(filename):
  cardinality_set = set()
  with open(filename, 'r') as file:
    for line in file:
      items = line.strip().split(',')
      for item in items:
        cardinality_set.add(item.strip())
    return len(cardinality_set)

In [67]:
print("The cardinality of the document given is",cardinality_items('basket_data.csv'))

The cardinality of the document given is 21

## **Problem 2**

In [73]:
def all_itemsets(unique_items, k):
    res = []
    n = len(unique_items)

    def backtrack(comb, idx, remaining):
        if remaining == 0:
            res.append(comb[:])
        else:
            for i in range(idx, n):
                comb.append(unique_items[i])
                backtrack(comb, i + 1, remaining - 1)
                comb.pop()

    backtrack([], 0, k)
    return res

In [75]:
print("All possible sets:", all_itemsets( ["ham", "cheese", "bread"], 2 ))

All possible sets: [['ham', 'cheese'], ['ham', 'bread'], ['cheese', 'bread']]

## **Examining Our First Dataset**

## **Problem 3**

3(a) How many total records of movie ratings are there in the entire dataset (over all of combined_data_*.txt)?

In [81]:
def total_records():
  total = 0
  for i in range(1, 5):
    filename = f'combined_data_{i}.txt'
    with open(filename, "r") as file:
      ratings = file.read()
    for line in ratings.split("\n"):
      if line:
        if line.endswith(":"):
          continue
        total += 1
  return total

In [82]:
print("There are", total_records(), "total records of movie ratings.")

There are 100480507 total records of movie ratings.

3(b) How many total unique users are there in the entire dataset (over all of combined_data_*.txt)?

In [83]:
def total_unique_users():
  unique_users = set()
  for i in range(1, 5):
    filename = f'combined_data_{i}.txt'
    with open(filename, "r") as file:
      combined_data = file.readlines()
    for data in combined_data:
      data = data.rstrip()
      if data and not data.endswith(":"):
        user_id = data.split(",")[0]
        unique_users.add(user_id)
  return len(unique_users)

In [84]:
print("There are", total_unique_users(), "total unique users.")

There are 480189 total unique users.

3(c) What is the range of years that this data is valid over?

In [85]:
def range_of_year():
  for i in range(1, 5):
      filename = f'combined_data_{i}.txt'
      with open(filename, "r") as file:
        date = file.read()
      all_year = set()
      for data in date.split("\n"):
        if data.endswith(":"):
          continue
        if len(data) >= 3:
          year = data.split(",")[2].split("-")[0]
          all_year.add(int(year))
  return [min(all_year), max(all_year)]

In [86]:
print("The range of years that this data is valid over is", range_of_year())

The range of years that this data is valid over is [1999, 2005]

## **Problem 4**

In [105]:
import pandas as pd
with open("movie_titles.csv", 'r', encoding = "cp1252") as file:
    column1, column2, column3=[], [], []
    for line in file:
        parts = line.strip().split(',')
        column1.append(parts[0])
        column2.append(parts[1])
        if(len(parts)>=2):
            column3.append(",".join(parts[2:]))

4(a) How many movies with unique names are there? That is to say, count the distinct names of the movies.

In [106]:
print("There are",len(df_movie.movie_title.unique()), "movies with unique names.")

There are 17359 movies with unique names.

4(b) How many movie names refer to four different movies?

In [111]:
def count(filename):
  movie_name_count = {}
  res = 0
  with open(filename, encoding = "cp1252") as file:
    lines = csv.reader(file)
    for row in lines:
      if len(row) >= 3:
        movie = " ".join(row[2:])
        if movie in movie_name_count:
          movie_name_count[movie] += 1
        else:
          movie_name_count[movie] = 1
    for movie, count in movie_name_count.items():
      if count == 4:
        res += 1
    return res

In [112]:
print("There are", count("movie_titles.csv"), "movie names refer to four different movies.")

There are 5 movie names refer to four different movies.

## **Problem 5**

5(a) How many users rated exactly 200 movies?

In [115]:
def count():
  map = {}
  for file_number in range(1, 5):
    filename = f'combined_data_{file_number}.txt'
    with open(filename, "r") as file:
      line = file.read()
    for data in line.split("\n"):
      if data and not data.endswith(":"):
        user = int(data.split(",")[0])
        if user not in map:
          map[user] = 1
        else:
          map[user] += 1
  return map

In [116]:
def count_users(map):
  res = 0
  for n in map.values():
    if n == 200:
      res += 1
  return res

In [117]:
print(count_users(count()), "users rated exactly 200 movies.")

605 users rated exactly 200 movies.

5(b) Of these users, take the lowest user ID and print out the names of the movies that this person liked the most (all 5 star ratings).

In [118]:
from collections import defaultdict

In [119]:
def lowest_user_id(count):
  users = set()
  for customer_id, count in count.items():
    if count == 200:
      users.add(customer_id)
  return min(users)

In [120]:
lowest_user_id = lowest_user_id(count_exact())

In [121]:
def movie_id_list(user):
  movie_id_list = defaultdict(set)
  for file_number in range(1, 5):
    filename = f'combined_data_{file_number}.txt'
    with open(filename, "r") as file:
      lines = file.readlines()
    for line in lines:
      line = line.rstrip()
      if line and line.endswith(":"):
          movie_id = int(line.split(":")[0])
      if line and len(line.split(",")) >= 3:
          customer = int(line.split(",")[0])
          rating = int(line.split(",")[1])
          if rating == 5:
            movie_id_list[customer].add(movie_id)
  return movie_id_list[user]

In [122]:
def most_liked(movie_id_list, movie_file):
  most_liked = set()
  with open(movie_file, "r", encoding = "cp1252") as file:
    lines = file.readlines()
  for line in lines:
    line = line.rstrip()
    if line and len(line.split(",")) >= 3:
      movie_id = int(line.split(",")[0])
      if movie_id in movie_id_list:
        title = "".join(line.split(",")[2:])
        most_liked.add(title)
  return most_liked

In [123]:
print("The lowest user id is", lowest_user_id)

The lowest user id is 508

In [124]:
movie_list = movie_id_list(lowest_user_id)

In [125]:
most_liked(movie_list, "movie_titles.csv")

{'Adaptation',
 'Amelie',
 'American Beauty',
 'Apocalypse Now',
 'Apocalypse Now Redux',
 'Band of Brothers',
 'Being John Malkovich',
 'Bowling for Columbine',
 "Boys Don't Cry",
 'Cabaret',
 'Days of Wine and Roses',
 'Downfall',
 'Election',
 'Eternal Sunshine of the Spotless Mind',
 'Gandhi',
 'Garden State',
 'Good Will Hunting',
 'Harold and Maude',
 'High Fidelity',
 'L.A. Confidential',
 'Lord of the Rings: The Fellowship of the Ring',
 'Lord of the Rings: The Return of the King',
 'Lord of the Rings: The Return of the King: Extended Edition',
 'Lord of the Rings: The Two Towers',
 'Lord of the Rings: The Two Towers: Extended Edition',
 'Lost in Translation',
 'Maria Full of Grace',
 'Memento',
 'Minority Report',
 'Monster',
 'Monty Python and the Holy Grail',
 "Monty Python's Life of Brian",
 "Monty Python's The Meaning of Life: Special Edition",
 'Raging Bull',
 'Raising Arizona',
 'Roger & Me',
 "Schindler's List",
 'Shakespeare in Love',
 'Sideways',
 'Super Size Me',
 'Taxi Driver',
 'The Accused',
 'The Lord of the Rings: The Fellowship of the Ring: Extended Edition',
 'The Manchurian Candidate',
 'The Pianist',
 'The Royal Tenenbaums',
 'The Shawshank Redemption: Special Edition',
 'The Silence of the Lambs',
 'The Usual Suspects',
 'This Is Spinal Tap',
 'Three Kings',
 'To Be and To Have',
 'To Die For',
 'Touching the Void',
 'Unforgiven',
 'Vietnam: A Television History',
 'Whale Rider'}